USE [EffortGroup]
GO
/****** Object:  Table [dbo].[Peripherials]    Script Date: 22.01.2025 15:50:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Peripherials](
	[IdPer] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[IdComp] [int] NULL,
	[NamePer] [nvarchar](50) NOT NULL,
	[PhotoPer] [nvarchar](max) NULL,
 CONSTRAINT [PK_Peripherials] PRIMARY KEY CLUSTERED 
(
	[IdPer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Peripherials]  WITH CHECK ADD  CONSTRAINT [FK_Peripherials_Computers] FOREIGN KEY([IdComp])
REFERENCES [dbo].[Computers] ([IdComp])
GO
ALTER TABLE [dbo].[Peripherials] CHECK CONSTRAINT [FK_Peripherials_Computers]
GO
